<h1>All players</h1>
<% if @players.size == 0  %>
    <div>There are no players</div>
<% else %>
    <div class="well">
        <%= @players.size %> Players:
        <% @players.each do |p| %>
            <div>
             <span><%= link_to p.name, p %></span>
            </div>
        <% end %>
    </div>

    <div class="clearfix"></div>

    <div class="navbar">
      <%= link_to 'Create a new player', '/player/new', :class => "btn" %>
      <!--<span class="btn">New match</span>-->
    </div>

<% end %>