<%= link_to 'Back to all List', '/', :class => "nav-header" %>

<h1>Create a new player</h1>
<form method="POST" action="/player">
  <label>Name:
    <input type="text" name="name"/>
  </label>
  <button class="btn" type="submit">Create</button>
</form>