<%= link_to 'Back to all List', '/' %>

<h1>Create a new player</h1>
<form method="POST" action="/player">
  <span>Name: </span>
  <input type="text" name="name" />
  <button class="btn" type="submit">Create</button>
</form>